body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

.top {
    margin: auto;
    width: 60%;
    padding: 50px;
    text-align: center;
    color: black;
    font-weight: 500;
}

#text-color {
    color: whitesmoke;
    text-shadow: 100%;
    text-decoration: solid;

}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h2 {
    font-weight: 900;
    font-size: 30px;
}

.background_img {
    background-image: url(images/street_children.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.link_button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    color: azure;
    font-weight: 500;
}

.button-design {
    border: hidden;
    border-radius: 5px;
    background-color: whitesmoke;
    color: gray;
    padding: 25px;
    font-size: 20px;
    font-weight: 900;
}

#red-btn {
    border: 2px solid red;
    background-color: pink;
    color: red;
}

.flexible {
    display: flex;
    margin-bottom: 200px;
}

.box-design {
    border: hidden;
    margin: 15px;
    padding: 25px;
}

#foodcolor {
    background-color: aliceblue;
}

#sheltercolor {
    background-color: antiquewhite;
}

#educationcolor {
    background-color: bisque;
}

.mailbox {
    background-color: bisque;
    border: hidden;
    padding: 50px;
    margin: 20px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

footer h4 {
    font-style: italic;
    color: tomato;
}

.half_width {
    width: 50%;
    padding-left: 2%;
}

#email {
    border: hidden;
    background-color: white;
    padding: 10px;
}

#other {
    border: none;
    margin-top: 50px;
}